extends layout

block content 
  h1(style="text-align: center; margin-top: 50px; margin-bottom: 40px;")= title 
  form.create-form(method="POST" enctype="multipart/form-data") 
    div.mb-3
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of category' name='name' required value=(undefined===category ? '' : category.name ) )
    div.mb-3
      label(for='description') Description:
      textarea#description.form-control(placeholder='Description' name='description')= undefined===category ? '' : category.description
    div.mb-3
      label(for='image_url') Image:
      input#image_url(type='file', placeholder='Upload image' name='image')
    if category 
      if category.is_default
        h5 Default category cannot be updated
      else
        button.cus-btn(type='submit') Submit
    else
      button.cus-btn(type='submit') Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg