extends layout 

block content 
  div.list-page
    .top-info
         h1= title
         button
           a(href="/inventory/item/create") Create Item
    div.card-list
      each item in item_list 
        div.card
          a(href=item.url)
             img.list-image(src=item.image_url)
             p= item.name